@mixin mask($pseudo, $zindex, $color, $opacity) {
    position: relative;

    &:#{$pseudo} {
        content: "";
        position: absolute;
        z-index: $zindex;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color, $opacity);
    }
}